#board-detail-wrapper {
  padding: 100px 0;

  display: flex;
  justify-content: center;
}

.board-detail-container {
  width: 996px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

#board-detail-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.board-detail-top-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board-detail-title {
  color: rgba(0, 0, 0, 1);

  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
}

.board-detail-sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-detail-write-info-box {
  display: flex;
  align-items: center;
  
  gap: 8px;
}