.icon-button {
    
  border-radius: 50%;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.eye-off-icon {
  width: 21px;
  height: 21px;

  background-image: url(assets/eye-off-icon.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.eye-on-icon {
  width: 21px;
  height: 21px;

  background-image: url(assets/eye-on-icon.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.right-arrow-icon {
  width: 21px;
  height: 21px;

  background-image: url(assets/right-arrow-icon.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}
